

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <div class="blocks">
            <div class="case-teaser case-teaser--punched">
                <div class="case-teaser__body">
                    <div class="case-teaser__caption">Artist Collaboration</div>
                    <div class="case-teaser__header">
                        <h1>Artist-in-Residence Programm</h1>
                    </div>
                    <div class="case-teaser__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit doloremque
                        culpa minima vero quod, optio itaque nisi deserunt, debitis ad laudantium
                        libero, quia nemo!</div>
                    <div><a class="link-teaser" href="#">Mehr erfahren</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
