

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <section class="conclusion">
            <div class="conclusion-content">
                <h1 class="conclusion-headline">Fazit</h1>
                <h3 class="conclusion-subheadline">Kurz auf den Punkt gebracht</h3>
                <div class="conclusion-text">
                    <p>Bacon ipsum dolor amet andouille leberkas prosciutto alcatra tenderloin.
                        Pork loin meatball short ribs ham chuck meatloaf sausage jerky, pastrami
                        short loin. Ham hock kielbasa kevin boudin fatback sausage. Porchetta meatball
                        ball tip, tri-tip alcatra venison tenderloin.</p>
                </div>
            </div>
        </section>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
