

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <time class="date" datetime="2017-06-23">23. Juni 2017</time>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
