

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <div class="eyecatcher">
            <p class="eyecatcher__text">Finden können Sie uns auch auf</p>
            <ul class="social-media-bar">
                <li class="social-media-bar__item"><a href="#" class="social-media-bar__link"><i class="social-media-bar__icon icon icon-twitter"></i></a>
                </li>
                <li class="social-media-bar__item"><a href="#" class="social-media-bar__link"><i class="social-media-bar__icon icon icon-facebook"></i></a>
                </li>
                <li class="social-media-bar__item"><a href="#" class="social-media-bar__link"><i class="social-media-bar__icon icon icon-linkedin"></i></a>
                </li>
                <li class="social-media-bar__item"><a href="#" class="social-media-bar__link"><i class="social-media-bar__icon icon icon-xing"></i></a>
                </li>
            </ul>
        </div>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
