

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <div>
            <p><i class="icon icon-info"></i> Check http://app.fontastic.me/#customize/AiqMQEnybHD8PBE9PTcC4V</p>
            <img
            src="../../static/arrow-long-right-red.svg">
                <img src="../../static/arrow-long-right-blue.svg">
                <img src="../../static/arrow-long-right-white.svg">
        </div>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
