

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../css/normalize.css">
        <link media="all" rel="stylesheet" href="../../css/bundle.css">
        <style>
            body {          padding: 1rem;        }
        </style>
        <title>Preview Layout</title>
    </head>
    
    <body class="application">
        <ul class="paginator">
            <li class="paginator__item"><a href="#" class="paginator__link">Previous</a>
            </li>
            <li class="paginator__item paginator__item--active"><a href="#" class="paginator__link">1</a>
            </li>
            <li class="paginator__item"><a href="#" class="paginator__link">2</a>
            </li>
            <li class="paginator__item"><a href="#" class="paginator__link">3</a>
            </li>
            <li class="paginator__item">…</li>
            <li class="paginator__item"><a href="#" class="paginator__link">Next</a>
            </li>
        </ul>
    </body>
    <script src="../../js/document-register-element.js"></script>
    <script src="../../js/bundle.js"></script>

</html>
